.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 500px;
  height: 800px;
  overflow: hidden;
}

.card:first-of-type {
  margin-top: 1rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 82%;
}

.topContent {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  color: #000000;
  background-color: #ffffff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #000000;
  background-color: #ffffff;
}

.icons {
  display: flex;
  width: 100%;
  z-index: 200;
}

.name {
  margin-left: 1rem;
  font-weight: bold;
  font-family: Arial;
}

.userProfileLayout {
  display: flex;
  align-items: center;
}

.kebabOption {
  color: red;
  font-size: 0.9rem;
}

.delete {
  color: red;
  display: flex;
  font-size: 0.85rem;
}

.flexMargin {
  margin-left: auto;
}

.postTextSection {
  margin-top: -0.8rem;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  font-family: Arial;
  font-size: 0.85rem;
  background: white;
  z-index: 100;
}

.date {
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: right;
}

/* SPINNER */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  width: 3rem;
  height: 3rem;
  border: 1rem solid #b9b9b9;
  border-radius: 50%;
  border-top: 1rem solid;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
