.displayLayout {
  margin-top: 1rem;
  color: black;
}

.contentFormat {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 0.5rem;
  font-weight: bold;
}

.comment {
  font-size: 0.85rem;
  margin-top: 0.35rem;
}
