.pageLayout {
  max-width: 50% !important;
  margin: 0 auto !important;
  margin-top: 4% !important;
  padding: 30px 0;
  text-align: center;
  background: white;
  border: 3px solid black !important;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  font-weight: bold;
}
