.commentLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  gap: 0.5rem;
}

.avatarWidth {
  width: 45px;
}

.commentField {
  height: 0;
  margin-top: 21px;
}