.dashboardContainer { 
  display: flex;
  align-items: center 
}

.imageUpdateLayout { 
  position: relative ;
  margin-bottom: 10px; 
}

.imageSize {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
